#anima-sprit{
    background:url("../Sprite-Atv/img/sprite.png") 0px -1163px;
    height: 163px;
    width: 150px;
    animation: anima-sprit 1s steps(8) infinite;
}

@keyframes anima-sprit {
    0%{background-position-x: 0px;}
    
    100%{background-position-x: -1200px;}
}
